@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #F4F5FE;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}



/* ==================
    LAYOUT
   ==================  */


.main {
  display: flex;
}

/* =============
    SIDEBAR 
   =============*/
.sidebar {
  min-width: 350px;
  font-size: .9rem;
  background:#EAECFC;
  padding: 2.2em;
  border-radius: 1em;
}

.sidebar-icons {
  cursor: pointer;
  padding: .7em 1em;
  margin-bottom: .3em;
}
/* TODO: * change background of sidebar-icons onClick in Javascript. 
         * then also change the border-radius when the background-color is assigned. */
.sidebar-icons:hover { 
  background: #FEFFFE;
  border-radius: .35em;
}

#faq-icon {
  background: #FEFFFE;
  border-radius: .35em;
}

.types {
  margin-left: .6em;
}

.answer {
  margin-left: 3em;
}

/* =============
    FAQ SECTION 
   =============*/

.faq-section {
  margin-left: 2.5em;
  padding: 1em 1.5em;
  min-width: 600px;
  max-width: 650px;
}

/* TODO: * Add border-bottom also when injecting the question.
         * Also try to add functionality of not adding border-bottom to the last question. May be by using last item index from the array.*/
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-div {
  margin-bottom: 1.5em;
}


/* ====================
    JAVASCRIPT CLASSES
   ==================== */


.clicked {
  background: #FEFFFE;
  border-radius: .35em;
}

.unclicked {
  background: #EAECFC;
}
.unclicked:hover {
  background: #FEFFFE;
  border-radius: .35em;
}